<style>
	.search{
    	background-img : url('./img/search.png');
      background-repeat : no-repeat;
      backgroupd-size : 13px;
    }
</style>

<!-- 홈페이지 header -->
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
      <div class="text-center w-100">
        <a class="navbar-brand" href="./main" style="font-size: 24px; font-weight: bold; color: #000000;">
          <h2>멋쟁이 <span style="color: #f98fa1;">돼지</span>들의 익명 커뮤니티</h2>
        </a>
      </div>
  
    </nav>
    <!-- '멋쟁이 돼지들의 익명 커뮤니티' end-->
    <div class="text-center">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-search d-flex justify-content-between align-items-center" style="width: 100%;">
          <div class="d-flex align-items-center" style="width: 100%;">
            <img src="./img/pignose.png" style="width: 40px; height: 40px;">
            <form style="width: 100%;">
              <input class="form-control mx-2 search" type="search"  placeholder="검색어를 입력하세요">
            </form>
          </div>
          <div class="navbar-nav">
            <a class="nav-link" href="#" style="width: 100px;">MY PAGE</a>
            
          </div>
        </div>
      </nav>
    </div>
  </div>
  

  
  
  
  
  
  
  