<!DOCTYPE html>
<html>

<head>
  <title>게시글</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
    /* 추가한 CSS 스타일 */
    .modal.bottom-up .modal-dialog {
      transform: translate(0, 100%);
      transition: transform 0.7s;
    }

    .modal.bottom-up.show .modal-dialog {
      transform: translate(0, 0);
    }
  </style>

</head>

<body>
  <% if (user) { %>
    <!-- 세션이 있는 경우 -->
    <%- include('loginheader.ejs') %>
      <% } else { %>
        <!-- 세션이 없는 경우 -->
        <%- include('header.ejs') %>
          <% } %>

            <br>
            <br>
            <div
              style="margin: 0 5%; background-color: white; height: 500px; border-radius: 10px; border: 1px solid #000;">
              <div>
                <br>
              </div>
              <div style="width: 90%; margin: 0 5%;">
                <h3 style="width: 1150px;">
                  제목ㅁ루언ㅁ렁니마;러아니;멀;미ㅏㅇ너라ㅣㅇ넘라ㅣ이ㅓㄴㅁ러ㅏㅇ널ㅇㅁ너암ㄹ넝라미너;ㄹㅁㄹㅇ;ㅓㅏㅁㄹ어ㅏㅣ;ㅁㄹ어ㅏ;ㅣㅁㄹ아ㅓ;ㅣㅁㄹ아ㅓㅣㅁㅇ러ㅏㅣㅁ러ㅏ아ㅓㄹ이너ㅏㅣ어;미ㅏㅇ</h3>
              </div>
              <hr>
              <div>
                <br>
              </div>
              <div style="width: 90%; margin: 0 5%;">
                <h5 style="width: 1150px;">내용ㅓ아ㅣㅁ널이ㅏㄴ머리ㅏ미ㅁ러ㅣㅏㅓ이남렁미러이마러얼이ㅏㄴ머라ㅣㅇㄴ머리ㅏㅇ먼리ㅏ어ㅏㅣㄹ엄니ㅏ렁니ㅏㅁ러이ㅏㄴ멀ㅏㅇㄴ머리만</h5>
              </div>


              <div style="position: fixed; bottom: 50px; width:90%; padding: 10px; border-radius: 10px;">
                <button type="button" class="btn" style="background-color: pink; width: 150px; height: 40px;"><img
                    src="./img/like.png" height="30px" width="30px" />좋아요</button>
                <button type="button" class="btn" data-toggle="modal" data-target="#comment" href="#"
                  style="background-color: pink; display: inline-block; width: 150px; height: 40px;"><img
                    src="./img/comment.png" height="30px" width="30px" /> 댓글</button>
                <button type="button" class="btn"
                  style="background-color: pink; display: inline-block; width: 150px; height: 40px;"><img
                    src="./img/modify.png" height="30px" width="30px" /><a href="./modify" style="color: black;">
                    수정 </a> </button>
                <br>
              </div>

            </div>

            <div class="modal fade bottom-up" id="comment" tabindex="-1" role="dialog"
              aria-labelledby="commentModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content"
                  style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                  <div class="modal-header" style="text-align: center;">
                    <h3 class="modal-title" id="loginModalLabel">
                      댓글
                    </h3>
                  </div>
                  <br>
                  <div style="width: 70%;">
                    <table class="table" style="width: 100%;">
                      <thead>
                        <tr>
                          <th scope="col" style="text-align: center">#학번</th>
                          <th scope="col" style="text-align: center">내용</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="text-align: center;">1</th>
                          <td style="text-align: center;">Mark</td>

                        </tr>
                        <tr>
                          <th scope="row" style="text-align: center;">2</th>
                          <td style="text-align: center;">Jacob</td>

                        </tr>
                        <tr>
                          <th scope="row" style="text-align: center;">3</th>
                          <td style="text-align: center;">Larry the Bird</td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="form-group" style="width: 100%;">
                      <textarea class="form-control" id="content" name="content" rows="5" placeholder="댓글을 입력하세요.."
                        required style="margin: 0 5%;"></textarea>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="text-center">
                      <button type="submit" class="btn" style="background-color: pink;">
                        댓글 작성</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <!-- 부트스트랩 JS 및 jQuery 스크립트 추가 -->
            <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>