<!DOCTYPE html>
<html>

<head>
  <title>게시글</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
    /* 추가한 CSS 스타일 */
    .modal.bottom-up .modal-dialog {
      transform: translate(0, 100%);
      transition: transform 0.7s;
    }

    .modal.bottom-up.show .modal-dialog {
      transform: translate(0, 0);
    }

    .commentbox {
      width: 90%;
      /* 현재 너비의 2배로 조정, 필요에 따라 조절 가능 */
    }
  </style>

</head>

<body>
  <% if (user) { %>
    <!-- 세션이 있는 경우 -->
    <%- include('loginheader.ejs') %>
      <% } else { %>
        <!-- 세션이 없는 경우 -->
        <%- include('header.ejs') %>
          <% } %>

            <br>
            <br>
            <div
              style="margin: 0 5%; background-color: white; height: 500px; border-radius: 10px; border: 1px solid #000;">
              <div>
                <br>
              </div>
              <div style="width: 90%; margin: 0 5%;">
                <h3 style="width: 1150px;">
                  제목 작성란이다. 제목 적어라</h3>
              </div>
              <hr>
              <div>
                <br>
              </div>
              <div style="width: 90%; margin: 0 5%;">
                <h5 style="width: 1150px;">내용적어봐라라아아아ㅏ아아아아아아아아아아아</h5>
              </div>
              <br>

              <div style="margin: 20% 4%;">
                <button type="button" class="btn"
                  style="background-color: pink; width: 150px; height: 40px; margin-right: 10px;">
                  <img src="./img/like.png" height="30px" width="30px" />
                  좋아요
                </button>
                <button type="button" class="btn" style="background-color: pink; width: 150px; height: 40px;">
                  <img src="./img/modify.png" height="30px" width="30px" />
                  <a href="./modify" style="color: black;">수정</a>
                </button>
              </div>

              <div>


              </div>
            </div>
            <br>

            <div style="margin: 0 5%; background-color: white; border-radius: 10px; border: 1px solid #000;">
              <div class="container" style="margin: 3% 4%;">
                <form name="commentInsertForm" method="post" enctype="multipart/form-data">
                  <div class="comtitle">
                    <h3>댓글작성</h3>
                  </div>

                  <div class="cominput">
                    <textarea class="commentbox" name="Com_Content" placeholder="댓글을 입력해주세요."></textarea>

                    <div class="com2">

                      <div class="com_btn">

                        <button type="button" name="commentInsertBtn" class="button1">작성하기</button>


                      </div>


                    </div>
                  </div>
                </form>
              </div>

              <div>
                <div
                  style="margin: 0 5%; background-color: white; border-radius: 10px; border: 1px solid #000; overflow-y: auto; max-height: 250px;">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>ID</th>
                          <th>Comment</th>
                          <th>작성일</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>user1</td>
                          <td>첫 번째 댓글입니다.</td>
                          <td>2022-01-01</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>user2</td>
                          <td>두 번째 댓글입니다.</td>
                          <td>2022-01-02</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>user3</td>
                          <td>세 번째 댓글입니다.</td>
                          <td>2022-01-02</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>user3</td>
                          <td>세 번째 댓글입니다.</td>
                          <td>2022-01-02</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>user3</td>
                          <td>세 번째 댓글입니다.</td>
                          <td>2022-01-02</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>user3</td>
                          <td>세 번째 댓글입니다.</td>
                          <td>2022-01-02</td>
                        </tr>
                        <!-- Add more rows for additional comments -->
                      </tbody>
                    </table>
                  </div>
                </div>


              </div>
              <br>


            </div>
            <br>




            <!— 부트스트랩 JS 및 jQuery 스크립트 추가 —>
              <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>